@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes rotate {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-20%);
    }
    50% {
        transform: translateY(-40%);
    }
    75% {
        transform: translateY(-60%);
    }
    100% {
        transform: translateY(-80%);
    }
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #D7FFF1;
    color: black;
    font-family: "IM_Hyemin-Bold";
}

#main_contents {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

#main_contents .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 500px;
}

.title {
    text-align: center;
}

.main_title {
    font-family: "SBAggroB";
    font-size: 50px;
}

.sub_title {
    font-size: 20px;
    font-weight: bold;
    color: #285943;
    padding-bottom: 50px;
}


.my-hr {
    height:10px;
    background-color:#153a29;
    padding-bottom: 10px;
}
.zig-zag { 
    border: none; 
    width: 78%; 
    margin: auto; 
    margin-top: 5%; 
    margin-bottom: 5%; 
    height: 40px; 
    background: linear-gradient(135deg, #D7FFF1 25%, transparent 25%) -20px 0, linear-gradient(225deg, #D7FFF1 25%, transparent 25%) -20px 0, linear-gradient(315deg, #D7FFF1 25%, transparent 25%), linear-gradient(45deg, #D7FFF1 25%, transparent 25%); 
    background-size: 40px 40px; 
    background-color: #153a29;
    padding-bottom: 10px;
}

.participation{
    font-size: 21px;
    font-family: "SBAggroB";
    font-weight: bold;
    color: #153a29;
    padding-bottom: 20px;

}
.intro {
    text-align: center;
    padding-bottom: 40px;
}

.intro h1 {
    font-size: 30px;
    padding-bottom: 15px;
}

.intro img {
    width: 100%;
    height: auto;
}

.button {
    text-align: center;
    padding-bottom: 50px;
}

.button button {
    width: 300px;
    height: 50px;
    padding: 5px;
    border-style: none;
    border-radius: 10px;
    font-family: "IM_Hyemin-Bold";
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    color: #285943;
    cursor: pointer;
    margin-bottom: 20px;
}

.button button:hover {
    text-decoration: underline;
}

.team_name {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

input[type="submit"] {
    font-size: 30px;
    border: 0px solid;
    border-radius: 10px;
    color: black;
    font-weight: 400;
    outline: none;
}


input[type="text"] {
    font-size: 18px;
    border: 0px solid;
    border-radius: 4px;
    font-weight: 400;
    outline: none;
}

textarea {
    font-size: 18px;
    border: 0px solid;
    border-radius: 10px;
    font-weight: 400;
    outline: none;
}