{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>result</title>

    <link rel="Stylesheet" href="{% static 'result.css' %}">
    
</head>

<body>

    <section id="main_contets">
        <div class="warpper">
            <div class="result">

                <div class="h4">당신의 학점은 <b>A0</b> 입니다.</div>


                <div class="result_explains">

                    <div class="explains">
                        <h2 class="title"><b>조심해 언제 대학원으로 끌려갈지 모른 다구~</b></h2>

                    </div>

                    <div class="explains">
                        <h2 class="title">
                            <div class="star">★</div>같이 보면 좋을 자료<div class="star">★</div>
                        </h2>
                    </div>
                    <h3>
                        
                            <li><a href="https://cst.kookmin.ac.kr/security/laboratory">아주 좋은 곳</a></li><img src="{% static 'lab.png' %}" alt="lab">

                        
                    </h3>

                </div>




                <br><br>
                

                <div class="name">
                    kim & kims
                </div>
            </div>
    </section>












</body>
