{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>result</title>

    <link rel="Stylesheet" href="{% static 'result.css' %}">
    
</head>

<body>

    <section id="main_contets">
        <div class="warpper">
            <div class="result">

                <div class="h4">당신의 학점은 <b>B+</b> 입니다.</div>


                <div class="result_explains">

                    <div class="explains">
                        <h2 class="title"><b>1년 주면 앞자리 바꿀 수 있겠어?</b></h2>

                    </div>

                    
                    <h3>
                        
                            <img src="{% static 'b+.jpeg' %}" alt="b+">

                        
                    </h3>

                </div>




                <br><br>
                

                <div class="name">
                    kim & kims
                </div>
            </div>
    </section>












</body>
