{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>result</title>

    <link rel="Stylesheet" href="{% static 'result.css' %}">
    <script type="text/javascript">
        const copyBtn = document.querySelector('.copy_btn');
        const facebookShare = document.querySelector('.facebook_share')
        const twitterShare = document.querySelector('.twitter_share');
        function CopyUrl() {

            var url = '';
            var textarea = document.createElement("textarea");
            document.body.appendChild(textarea);
            url = window.document.location.href;
            textarea.value = url;
            textarea.select();
            document.execCommand("copy");
            document.body.removeChild(textarea);
            alert("URL이 복사되었습니다.")
        }

        function sharefacebook() {
            var sendUrl = '';
            var textarea = document.createElement("textarea");
            document.body.appendChild(textarea);
            sendUrl = window.document.location.href;
            window.open("http://www.facebook.com/sharer/sharer.php?u=" + sendUrl);
        }

        function shareTwitter() {
            var sendUrl = '';
            var textarea = document.createElement("textarea");
            document.body.appendChild(textarea);
            sendUrl = window.document.location.href;
            window.open(
                'https://twitter.com/intent/tweet?url=' + sendUrl);

        }


        copyBtn.addEventListener('click', copyUrl);
        facebookShare.addEventListener('click', sharefacebook);
        twitterShare.addEventListener('click', shareTwitter);

    </script>
</head>

<body>

    <section id="main_contets">
        <div class="warpper">
            <div class="result">

                <div class="h4">당신의 학점은 <b>C0</b> 입니다.</div>


                <div class="result_explains">

                    <div class="explains">
                        <h2 class="title"><b>C(f)로 먹고사는 당신은 수학과의 원빈?</b></h2>

                    </div>

                    
                    <h3>

                        <img src="{% static '원빈.jpeg' %}" alt="C">


                    </h3>

                </div>




                <br><br>
                <div class="share">
                    <div class="url">
                        <button onclick="CopyUrl()" class="copy_btn" type="button"> URL 복사하기</button>

                    </div>

                    <div class="facebook">

                        <button onclick="sharefacebook()" class="facebook_share" type="button">Facebook 공유</button>
                    </div>
                    <div class="twitter">
                        <button onclick="shareTwitter()" class="twitter_share" type="button">트위터 공유</button>
                    </div>

                </div>

                <div class="name">
                    kim & kims
                </div>
            </div>
    </section>












</body>