{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>정암수 학점 TEST</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>
<body>
    <section id="main_contents">
        <div class="wrapper">
            <div class = "title">
                <h3 class="main_title">정암수 학점 TEST</h3>
                <h3 class="sub_title">Grade level test</h3>
                <hr class="zig-zag">
                
                <h3 class="participation">현재까지 {{participation}}명이 참여하였습니다.</h3>
            </div>
            <div class="intro">
                <h1>나의 학점은?!</h1>
                <img src="{% static 'main.jpeg' %}" alt="main" style="filter:alpha(style=2, opacity=100, finishopacity=0)">
            </div>
            <div class="button">
                <a href="/test1">
                    <button class="start" type="button">시작하기</button>
                </a>
            </div>
            <div class="team_name">
                <p>@kim&kim</p>
            </div>
        </div>
    </section>
</body>
