{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 환경 지수 찾기</title>
    <link rel="stylesheet" type="text/css" href="{% static 'test.css' %}">
</head>

<body>
    <section id="survey">
        <div class="wrapper">
            <form action="{% url 'test5' %}" method="POST" enctype=multipart/form-data>
                <div class="test">
                    <div class="question_container">
                        <h3 class="number">4/8</h3>
                        <h3 class="question">12시간 뒤 정수론 클로즈 북 시험이 있다. <br>하지만 나는 아직 1주차 ...</h3>
                        </div>
                        <div class="answer">
                            <div class="button">
                                {%csrf_token%}
                                
                                <button type="submit" class="option" name="answer" value=1>못 자면 머리가 더 안 돌아. 그냥 자자!</button>
                                <button type="submit" class="option" name="answer" value=2>12시간이라도 본다.</button>
                                
                        </div>
                    </div>
                </div>
                
            </form>
        </div>
    </section>
</body>
