{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 환경 지수 찾기</title>
    <link rel="stylesheet" type="text/css" href="{% static 'test.css' %}">
</head>

<body>
    <section id="survey">
        <div class="wrapper">
            <form action="{% url 'test8' %}" method="POST" enctype=multipart/form-data>
                <div class="test">
                    <div class="question_container">
                        <h3 class="number">7/8</h3>
                        <h3 class="question">나는 오일러정리가 무엇인지</h3>
                    </div>
                    <div class="answer">
                        <div class="button">
                            {%csrf_token%}
                            
                            <button type="submit" class="option" name="answer" value=2>안다</button>
                            <button type="submit" class="option" name="answer" value=1>모른다</button>
                            
                            
                            
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </section>
</body>